table {
  width: 100%;
}

.mat-cell {
  padding: 8px 8px 8px 8px;
}

th, td {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 16px;
  color: #fff;
}

.mat-cell.mat-column-brandName {
  color: ivory;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

::ng-deep .hide-arrow .mat-sort-header-arrow {
  color: #212529; /* åŒth color */
  display: flex;
  justify-content: center;
  margin: 0 0 0 0px;
  height: 0px;
  width: 0px;
  min-width: 0px;
}

::ng-deep .hide-arrow .mat-sort-header-pointer-left {
  width: 0px;
  height: 0px;
}

::ng-deep .hide-arrow .mat-sort-header-pointer-right {
  width: 0px;
  height: 0px;
}

.mat-form-field {
  width: 100%;
}

.npn-slider::ng-deep .slider {
  padding-left: 50% !important;
}

.npn-slider::ng-deep .slider .bar > span.left-handle {
  background: #dcb2b2 !important;
  border: 7px solid #b35a57 !important;
}

.npn-slider::ng-deep .slider .bar > span.right-handle {
  background: #dcb2b2 !important;
  border: 7px solid #b35a57 !important;
}

.npn-slider::ng-deep .slider .bar div.filler > span {
  background: #dcb2b2 !important;
}

.npn-slider::ng-deep .slider .bar > span.left-handle .handle-tooltip {
  color: #b35757 !important;
  background: #ebd2d2 !important;
  border: 1px solid #c37a7a !important;
}

.npn-slider::ng-deep .slider .bar > span.left-handle .handle-tooltip:after {
  border-top-color: #ebd2d2 !important;
}

.npn-slider::ng-deep .slider .bar > span.right-handle .handle-tooltip {
  color: #b35757 !important;
  background: #ebd2d2 !important;
  border: 1px solid #c37a7a !important;
}

.npn-slider::ng-deep .slider .bar > span.right-handle .handle-tooltip:after {
  border-top-color: #ebd2d2 !important;
}

.npn-slider::ng-deep .slider .bar div.filler > div.step-indicators > span {
  background: #b35757 !important;
}

.npn-slider::ng-deep .values > span {
  font-size: 16px;
}