<div class="row mt-3">
    <div class="col-lg-10">
        <h3 style="text-align: center;">筆記型電腦產品列表</h3>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary float-end" routerLink="/create">建立新產品</button>
    </div>
</div>

<table *ngIf="listItems.length > 0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>廠牌名稱</td>
            <td>處理器</td>
            <td>記憶體</td>
            <td>硬碟</td>
            <td>顯示卡</td>
            <td>螢幕尺寸</td>
            <td>價錢</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listItems">
            <td>{{ item.brandName }}</td>
            <td>{{ item.processor }}</td>
            <td>{{ item.mainMemory }}</td>
            <td>{{ item.hardDrive }}</td>
            <td>{{ item.graphicsCard }}</td>
            <td>{{ item.screenSize }}</td>
            <td>{{ item.price }}</td>
            <td style="width: 5%;">
                <button class="btn btn-primary btn-sm float-end">修改</button>
            </td>
            <td style="width: 5%;">
                <button class="btn btn-danger btn-sm float-end">刪除</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="listItems.length == 0" class="row mt-5">
    <h5>尚無建立產品資料</h5>
</div>