table {
  width: 100%;
}

.mat-cell {
    padding: 8px 8px 8px 8px;
  }

th, td {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-cell.mat-column-brandName {
  color: ivory;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}